
    :root {
        --primary-color: #2933f1;
        --secondary-color: #5c97e8;
        --font-color: #333;
        --background-color: #f4f4f4;
        --border-color: #ddd;

    }
    
    body {
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin: 0;
        padding: 0;
        background-color: var(--border-color);
    }       
    h1 {
        color: var(--font-color);
        text-align: center;
        margin-top: 20px;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card-joke {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--background-color);
        border: 1px solid var(--border-color);
        border-radius: 5rem;
        box-shadow: 0 4px 5px rgba(0,0,0,0.1);
        margin: 1.25rem;
        padding: 1.25rem;
        width: 40%;  
        min-height: 20rem;     
        transition: transform 0.2s;
    }
    
    .card-joke:hover {
        transform: scale(1.05);
    }

    #jokeBtn {
        background-color: var(--primary-color);
        color: var(--background-color);
        border: none;
        padding: 0.625rem 1.25rem;
        cursor: pointer;
        font-size: 1rem;
        border-radius: 0.2;
        margin: 1.25rem;
    }
    #jokeBtn:hover {
        background-color: var(--secondary-color);
        transform: scale(1.05);
    }

    p {
        color: #666;
        line-height: 1.6;
        margin: 1.25rem;
    }
    #output {
        margin-top: 1.25rem;
        font-size: 1.125rem;
        color: var(--font-color);
        text-align: center;
    }
    button {
        cursor: pointer;
        padding: 0.625rem 1.25rem;
        border: none;
        border-radius: 0.2rem;
        background-color: var(--primary-color);
        color: var(--background-color);
        font-size: 1rem;
        transition: background-color 0.2s;
    }